
-----------------------------
     SERVER INFORMATION
-----------------------------
  Hostname: .................. {{ ansible_facts['hostname'] }}.{{ ansible_facts['domain'] }}
  Distro: .................... {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}
  Kernel: .................... {{ ansible_facts['kernel'] }}
  CPUs ....................... {{ ansible_processor_vcpus }}
  Memory: .................... {{ (ansible_memtotal_mb / 1024) | round(2) }} GB

